.cards{
    display: flex;
   margin-top: 2px;
   margin-bottom: 20px;
}

.cards div{
    background-color: slateblue;
    margin: 0 5px;
    width: 100%;
    padding: 10px 0 25px;
    
  
}

.cards button{
    padding-bottom: 10px;
    margin-top: 100px;
    margin-left: 200px;
    background-color: rgb(35, 83, 59);
    color: white;font-size: large;
    border-radius: 7px;
}

.lab{
    display: flex;
    border: 5px solid olivedrab;
    border-radius: 5px;
    margin: 0 5px 50px;
    padding: 10px 4px;
}

.lab img{
    width: 90%;
    border-radius: 10px;
}
.lab p{
    /* color: rgb(54, 71, 21); */
    color: rgb(116, 116, 17);
    font-size: large;
    font-weight: 500;
    text-align: start;
}